name: Treinar Modelo de IA

# Quando isso vai rodar?
on:
  push:
    paths:
      - 'data-science/**'  # Só roda se mudar algo na pasta de DS
  workflow_dispatch:       # Permite rodar manualmente clicando num botão

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:
    # 1. Baixa o código do repositório
    - name: Checkout do código
      uses: actions/checkout@v3

    # 2. Configura o Python
    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # 3. Instala as dependências (pandas, scikit-learn, onnx...)
    - name: Instalar dependências
      run: |
        python -m pip install --upgrade pip
        pip install -r data-science/requirements.txt

    # 4. Roda o script de treinamento
    - name: Treinar e Exportar ONNX
      run: |
        cd data-science
        python train.py
      # O script train.py deve gerar um arquivo chamado "sentiment_model.onnx"

    # 5. Salva o modelo gerado para o time de Backend baixar
    - name: Upload do Modelo ONNX
      uses: actions/upload-artifact@v4
      with:
        name: modelo-onnx-final
        path: data-science/sentiment_model.onnx
        retention-days: 5
